.container-header{
  display: flex;
  align-items: center;
  justify-content: center;
}

.patita{
  font-size: 50px;
  margin-bottom: 37px;
  color: #e94d76;
}

.title{
  font-weight: bold;
  text-align: center;
  margin-bottom: 70px;
  margin-top: 30px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  color: #420516;
  font-size: 45px;
  margin-right: 20px;
}

.container{
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 30px;
  justify-content: center;
  align-items: center;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.card{
  border: 2px solid #e94d76;
  border-radius: 10px;
  width: 330px;
  height: 560px;
  padding: 20px 15px;
}

img{
  width: 300px;
  height: 280px;
  padding: 0 7px 0 5px;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}

.card-title{
  font-size: 20px;
  font-weight: bold;
  margin: 10px 0;
  color: #420516;
}

.card-text{
  margin-bottom: 30px;
}

.boton{
  width: 200px;
  color: #ffffff;
}

.boton:hover{
  background-color: #ffffff;
  color: #420516;
}

footer{
  background-color: #420516;
  color: #ffffff;
  padding: 10px;
  margin-top: 130px;
  border-radius: 15px;
}

